.iconButton {
    transition: all 0.5s !important;
}


.iconButton:hover {
background-color: #c5c5c5 !important;
box-shadow: 0px 4px 4px rgba(0,0,0,0.4);

}

.todoCard:hover {
 padding-bottom: 1px;
 padding-top: 1px;
}

.todoCard {
    transition: all 0.2s !important;
    box-shadow: 0px 7px 7px rgba(0,0,0,0.4);
}